/* .glass{
    background-image: url(./../../../../public/glassesImage/background.jpg);
    background-repeat: no-repeat;
    background-position: cover;
} */

/* .card{
    background-image: url(./../../../../public/glassesImage/model.jpg);
    background-repeat: no-repeat;
    background-position: cover;
    background-size: 400px;
} */

